:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    line-height: 1.6;
    background-color: #ECEFF4;
  }
p{
  margin-bottom: 1.5rem;
}
a:not(.no-style){
  color: #5E81AC;
  border-bottom: 1px solid #5E81AC; 
  font-weight: semi-bold;
}
